body{
 background-image:url(bodybg2.jpg);
} 

.main{
text-align:center;
height:350px;
padding:20px;
background-color:aqua;
font-size:50px;
line-height:290px;
border-radius:10px;

}

.content{
text-align:center;
background-color:gray;
padding:30px;
border-radius:10px;

}