body{
	margin:0px;
}
.header{
	/*background-color:lightgray;*/
	margin-left:900px;
	margin-right:5px;
	margin-top:5px;
	margin-bottom:5px;
}
.content{
	margin:5px;
	height:850px;

}

.footer{
	margin:5px;
	background-color:lightgray;
	height:40px;
	text-align:center;
	line-height:35px;
	color:#8B4513;
}

.header ul{
	margin:15px;

}
.header ul li{
	display:inline;
	padding:5px;

}
.header ul li a{
	text-align:center;
	text-decoration:none;
	padding:10px;
	line-height:35px;
	color:#8B4513;
	/* #D2691E */
	background-color:rgba(211,211,211,0.5);
}
.header ul li a:hover{
	color:black;
	background-color:white;
	height:40px;
	opacity:0.5;
}

.imgc{
height:190px;
width:190px;
border-radius:150px;
opacity:0.9;
margin-bottom:25px;
margin-top:200px

/*margin-left:50px;
margin-top:25px;*/
 }

 h1,p{
 font-weight:500;
 font-size:25px;
 color:papayawhip;
 font-family: "Times New Roman";
 text-align:center;

 }
 
 h1{
 	font-size:35px;
 }

 @media only screen and (max-width: 768px){
 	.header{
 	margin-left:5px;
     }
 }
